/* You can add global styles to this file, and also import other style files */
.jumbotron {
    width: 40%;
    margin: 10px auto;
}

.error {
    margin-left: 0.5em;
    margin-top: 0.5em;
    color: red;
}