<h1>Restful Tasks API</h1>
<button (click)="show()">Show Tasks</button>
<div *ngIf="showTasks">
  <ol>
    <li *ngFor="let task of tasks">{{task.title}}<span *ngIf="task.description"> -- {{task.description}}</span></li>
  </ol>
</div>
<div id="form"><label>Enter Task ID: <input type="text"></label><button (click)="findTask()">Search</button></div>
<ul *ngIf="searched">
  <li *ngIf="searchedTask; else error">{{searchedTask.title}}
    <span *ngIf="searchedTask.description"> -- {{searchedTask.description}}</span>
  </li>
  <ng-template #error><li>Task doesn't exist.</li></ng-template>
</ul>